.swap-item {
  background-color: #ff9999;
  border-radius: 15px;
  padding: 0 20px 20px 20px;
  width: 1000px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Calibri", serif;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.swap-title {
  width: 100%;
  display: flex;
  font-size: 18px;
  font-weight: 600;
  padding-left: 20px;
}

.swap-item p {
  font-size: 18px;
  margin: 5px 20px 5px 20px;
}

.swap-item .swap-item-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.swap-item .swap-item-heading .user-pfp {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(0,0,0,0.2);
  object-fit: contain;
}

.swap-item .button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.swap-item .button-container button {
  width: 20%;
  background-color: white;
  color: #ff6f91;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s ease-in-out;
}

.swap-item .button-container .button-accept:hover {
  background-color: #aaffcc;
}

.swap-item .button-container .button-cancel:hover {
  background-color: #ffaabb;
}

.swap-item .button-container button:hover {
  background-color: #aaccff;
}

.swap-details {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}