.page-content {
    width: 100%;
    display: flex;
    justify-content: center;
}

.list-content {
    width: 80%;
    margin-top: 10%;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-family: "Calibri", serif;
    font-size: 24px;
}

.page-button {
    width: 15%;
    height: 100%;
    padding: 30px;
    border-radius: 10%;
    background-color: #ff6f91;
    transition: background-color 0.2s ease-in-out;
    color: white;
    display: flex;
    justify-content: center;
    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        color: white;
    }
}

.page-listitem {
    width: 15%;
    height: 100%;
    padding: 30px;
    border-radius: 10%;
    background-color: #ff6f91;
    transition: background-color 0.2s ease-in-out;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.page-button:hover {
    background-color: #ea5a7a;
}

.disabled {
    background-color: #aaa;
}